<div class="question">
  <h3><%= @question %></h3>
  <h3><em>-You</em></h3>
</div>

<div class="answer">
  <h3><%= @answer %></h3>
  <h3><em>-Your Coach</em></h3>
</div>

<p><%= link_to "Ask a new question", ask_path %></p>

